<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WEATHER-CONSOLE</title>
    <link href="/static/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style type="text/css">
        .btnRun, .btnPause, .btnResume, .btnEdit {
            margin-right: 8px;
        }

        .input-group {
            margin-bottom: 5px;
        }

        .title {
            text-align: center;
            font-size: 30px;
            margin-top: 15px;
        }

        .btnRight {
            text-align: right;
            margin: 5px 15px;
        }

        .head {
            border: solid;
            border-color: #8080805c;
            border-width: 1px;
        }
    </style>
    <script type="application/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/bootstrap-select.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/index.js}"></script>

</head>
<body>

<div class="container-fluid" style="padding-top: 15px;">

    <div class="head">
        <div class="title">这城市那么空</div>
        <hr class="line">
    </div>

    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th>#</th>
            <th>id</th>
            <th>city</th>
            <th>date</th>
            <th>weather</th>
            <th>temperature</th>
            <th style="text-align: center;">operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item,itemStat:${pageInfo.list}">
            <td th:text="${itemStat.index+1}"></td>
            <td th:id="id_+${item.id}" th:text="${item.id}"></td>
            <td th:id="city_+${item.city}" th:text="${item.city}"></td>
            <td th:id="date_+${item.date}" th:text="${item.date}"></td>
            <td th:id="weather_+${item.weather}" th:text="${item.weather}"></td>
            <td th:id="temperature_+${item.temperature}" th:text="${item.temperature}"></td>
            <td style="text-align: center;">
                <div class="btn-group text-center" role="group"
                     th:data-id="${item.id}">
                    <button type="button" class="btn btn-default btnEdit">edit</button>
                    <button type="button" class="btn btn-warning btnDelete">delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a th:if="${not isFirstPage}" th:href="@{${'/'}(pageNum=${pageNum-1},pageSize=${pageSize})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                <a th:if="${isFirstPage}" href="javascript:void(0);" aria-label="Previous">
                    <span th:disabled="true" aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="pageNo : ${#numbers.sequence(pageNum, pageNum+navigatePages-1)}">

                <a th:if="${pageNo le totalPages and pageNo eq pageNum}" href="javascript:void(0);">
                    <span th:text="${pageNo}"></span>
                </a>
                <a th:if="${pageNo le totalPages and pageNo ne pageNum}"
                   th:href="@{${'/'}(pageNum=${pageNo},pageSize=${pageSize})}">
                    <span th:text="${pageNo}"></span>
                </a>
            </li>

            <li>
                <a th:if="${not isLastPage}" th:href="@{${'/'}(pageNum=${pageNum+1},pageSize=${pageSize})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a th:if="${isLastPage}" href="javascript:void(0);" aria-label="Next">
                    <span th:disabled="true" aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>